<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Exam2"
        tools:targetApi="31">
        <activity
            android:name=".update"
            android:exported="false" />
        <activity
            android:name=".p8"
            android:exported="false" />
        <activity
            android:name=".p7"
            android:exported="false" />
        <activity
            android:name=".p6"
            android:exported="false" />
        <activity
            android:name=".p5"
            android:exported="false" />
        <activity
            android:name=".pmain2"
            android:exported="false" />
        <activity
            android:name=".m8"
            android:exported="false" />
        <activity
            android:name=".m7"
            android:exported="false" />
        <activity
            android:name=".m6"
            android:exported="false" />
        <activity
            android:name=".m5"
            android:exported="false" />
        <activity
            android:name=".emain2"
            android:exported="false" />
        <activity
            android:name=".p4"
            android:exported="false" />
        <activity
            android:name=".p3"
            android:exported="false" />
        <activity
            android:name=".p2"
            android:exported="false" />
        <activity
            android:name=".p1"
            android:exported="false" />
        <activity
            android:name=".m4"
            android:exported="false" />
        <activity
            android:name=".m3"
            android:exported="false" />
        <activity
            android:name=".m2"
            android:exported="false" />
        <activity
            android:name=".m1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>